*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FEC7D7;
    
}

.container {
   
   
}

.container button.custom-button {
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 90%;
    margin-top: 70px;
    
   
  }
