.filtro-mascotas {
    display: flex;
    gap: 10px;
  
    .filtro-btn {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
  
      &.activo {
        background-color: #ccc;
      }
    }
  }
  .BottunGat{
    background-color: #000000;
  }

  .BottunDog{
    background-color: #000000;
  }